# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NeurISP2022-CellSeg\kaggle-sartorius-cell-instance-segmentation-solution-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
